@font-face {
    font-family: 'WorkSans Bold';
    src: url(/Fonts/WorkSans-Bold.ttf);
}

@font-face {
    font-family: 'WorkSans Regular';
    src: url(Fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'WorkSans SemiBold';
    src: url(Fonts/WorkSans-SemiBold.ttf);
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(275, 100%, 97%);
}

.content{
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    flex-direction: column;
}

header{
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100%;
    background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjMyMCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE0NDAgMzIwIj48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMzMDE1MzQiIGQ9Ik0wIDBoMTQ0MHYzMjBIMHoiLz48cGF0aCBzdHJva2U9IiNBRDI4RUIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNLTY3Ni0xODJDLTQ1NC0xMC0zOTYuODYzIDcxLjg4OC0xOTcuNSAxNDMuNS05OSAxNzguODgyLTM2LjkxOSAxNzAuNzI2LTQuNzUxIDE3MC4xMDhjMTA0LjQ4Ny0yLjAxIDIwNC42MDktNDMuMjM3IDI5OC42MzMtODUuNDk1IDM4LjM1NC0xNy4yMzggNzUuODgyLTM2LjE4OSAxMTIuMDYzLTU3LjYzIDIzLjkwMy0xNC4xNjUgNTguODctMzMuOTEzIDY0LjcyMS02NC40MiAyLjMyLTEyLjEwMi0xNi4zNjktMTIuMjQtMjMuNzcxLTkuNzg5LTEzLjUxMSA0LjQ3NC0yNS45NSAxNi41NDQtMzYuMDU2IDI1LjY2OS0xOS4xMzEgMTcuMjczLTM3LjA2MiAzNS45NDgtNTMuMjM1IDU2LjAzMS0zMy43MjggNDEuODgzLTY4LjAzNCAxMDAuMjQ3LTM0LjE1OCAxNTIuMDE0IDE3LjI4NyAyNi40MTUgNDMuOTQgNDUuNjkzIDcyLjExMiA1OS4xMjcgNTYuMTgyIDI2Ljc5MSAxMTkuMjA1IDM4Ljc0MiAxODAuNzc4IDQ0LjE0NiAxNjQuNDM4IDE0LjQzMiAzMjguOTY0LTMuNDYxIDQ4My4wMDQtNjMuNjIyIDc5Ljc2LTMxLjE0OCAxNTguNTUtNzAuNTM5IDIyNC4yMy0xMjYuMjQ1IDQ4LjU2LTQxLjE4NiAxMDIuOC05Ni41NDggMTEwLjY2LTE2Mi45IDEwLjkzLTkyLjE4Ny05NC4wNC0xMzYuMDYyLTE2OS4yOS0xNDguNDE4LTYxLjQxLTEwLjA4NC0xMjMuNzUtNC4xNjQtMTg0LjA3IDkuNTg4LTc4LjI2MiAxNy44NC0xNDkuMDA2IDQ3LjY3LTIxNC4yNDEgOTQuMzg0LTEzMC4wMDIgOTMuMDkzLTIzNC45NSAyMjguNDEzLTI3Mi40NjYgMzg1LjgyNy0xNS42NCA2NS42MjUtMTYuNjQ4IDEzOC4yMSA1LjQ5MyAyMDIuNTUxIDIxLjQ1MiA2Mi4zMzggNjkuMTk2IDExMC41NzYgMTI0LjA0OCAxNDQuOTIzIDY1LjExNyA0MC43NzQgMTM3LjE2MSA2Mi4xNCAyMTIuODM5IDczLjIxIDEwMC40NzQgMTQuNjk2IDIwMi44MTcgMTIuMjMzIDMwMy4wMjctMi45OTcgMTc2LjE3LTI2Ljc3MiAzNTIuNzMtODguNDMxIDUwNS4xOC0xODEuMDc3IDEwMy4yMi02Mi43MjUgMTk5LjMtMTM0LjE1IDI4MC4wNi0yMjQuNDI1IDE3LjctMTkuNzkzIDMxLjgxLTQwLjg3NSA0My43NC02NC41MjFDMjE3Mi4xMS01OC41IDIwOTUuNS0xNDUuNTI4IDIwOTUuNS0xNTEiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE0NDB2MzIwSDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+");
    height: 320px;
    margin-top: 0;
}

.accordion{
    background-color: white;
    width: 87%;
    max-width: 600px;
    border-radius: 16px;
    position: relative;
    top: 10.5rem;
    align-self: center;
    z-index: 4;
}

.accordion-content{
    position: relative;
    margin-left: 2.2rem;
}

h1{
    display: flex;
    align-items: center;
    gap: 1.7rem;
    color:  hsl(292, 42%, 14%);
    font-size: 3.4rem;
    font-family: 'WorkSans SemiBold';
}

.toggleBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-family: 'WorkSans Regular';
    font-weight: 700;
    color: hsl(292, 42%, 14%);
    background: none;
    border: none;
    pointer-events: none;
    width: 100%;
    position: relative;
    top: 10px;
}

.toggleBtn span{
    pointer-events: auto;
    position: relative;
    align-self: center;
}

.toggleBtn span:hover{
    color: #AE23EF;
    cursor: pointer;
}

.toggleBtn[aria-expanded=false]{
    margin-bottom: 2rem;
}

.toggleBtn span{
    width: 85%;
    text-align: left;
}

button[aria-expanded="true"]+.answer{
    display: block;
    max-height: 12.5rem;
}

button[aria-expanded="false"]+.answer{
    display: none;
    max-height: 0;
}

.toggleBtn[aria-expanded='true']::after{
    position: relative;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    content: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMSIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDMwIDMxIj48cGF0aCBmaWxsPSIjMzAxNTM0IiBkPSJNMTUgMy4zMTNBMTIuMTg3IDEyLjE4NyAwIDEgMCAyNy4xODggMTUuNSAxMi4yIDEyLjIgMCAwIDAgMTUgMy4zMTJabTQuNjg4IDEzLjEyNGgtOS4zNzVhLjkzOC45MzggMCAwIDEgMC0xLjg3NWg5LjM3NGEuOTM4LjkzOCAwIDAgMSAwIDEuODc2WiIvPjwvc3ZnPg==');
    right: 4.5%;
    pointer-events: auto;
    align-self: center;
}

.toggleBtn[aria-expanded='false']::after{
    position: relative;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    right: 4.5%;
    content: url('data:image/svg+xml;base64, PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGZpbGw9Im5vbmUiPjxnIHN0cm9rZS13aWR0aD0iMCI+PC9nPjxnIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9nPjxnPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNyA3SDVDNC40NDc3MiA3IDQgNy40NDc3IDQgOEM0IDguNTUyMyA0LjQ0NzcyIDkgNSA5SDdWMTFDNyAxMS41NTIzIDcuNDQ3NyAxMiA4IDEyQzguNTUyMyAxMiA5IDExLjU1MjMgOSAxMVY5SDExQzExLjU1MjMgOSAxMiA4LjU1MjMgMTIgOEMxMiA3LjQ0NzcgMTEuNTUyMyA3IDExIDdIOVY1QzkgNC40NDc3MiA4LjU1MjMgNCA4IDRDNy40NDc3IDQgNyA0LjQ0NzcyIDcgNVY3ek04IDE2QzMuNTgxNzIgMTYgMCAxMi40MTgzIDAgOEMwIDMuNTgxNzIgMy41ODE3MiAwIDggMEMxMi40MTgzIDAgMTYgMy41ODE3MiAxNiA4QzE2IDEyLjQxODMgMTIuNDE4MyAxNiA4IDE2eiIgZmlsbD0iI0FFMjNFRiI+PC9wYXRoPjwvZz48L3N2Zz4=');
    pointer-events: auto;
    align-self: center;
    top: 4px;
}

p{
    font-family: 'WorkSans Regular';
    color: hsl(292, 16%, 49%);
    width: 95%;
    line-height: 24px;
    opacity: .8;
    margin-bottom: 2.5rem;
    margin-left: 4.5px;
    position: relative;
    top: 14px;
}

.line{
    position: relative;
    left: 4px;
    height: 1px;
    background-color: rgb(236, 236, 236);
    width: 91.3%;
    margin-bottom: 1rem;
}